<p id="notice"><%= notice %></p>

<div class="container bg-light rounded-3 p-3 my-4">
  <h2>Produtos</h2>

<table class="table d-none d-md-table table-hover">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col"></th>
      <% if !@current_user.nil? %>
        <th colspan = "2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td class="description-col"><%= product.description %></td>
        <td><%= "R$#{product.price/100.00}" %></td>
        <td><%= link_to 'Ver Produto', product, class: 'btn btn-success' %></td>

        <% if !@current_user.nil? %>
          <td><%= link_to 'Editar', edit_product_path(product), class: 'btn btn-warning' %></td>
          <td><%= button_to  'Retirar', product, method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="list-group d-md-none">


    <% @products.each do |product| %>
      <%= link_to product, class:"list-group-item list-group-item-action my-2" do %>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= product.name %></h5>
          <small class="text-muted"><%= "R$#{product.price/100.0}" %></small>
        </div>
          <p class="mb-1"><%= product.description %></p>

          <%= link_to 'Ver Produto', product, class: 'btn btn-success' %>
        <% if !@current_user.nil? %>
          <%= link_to 'Editar', edit_product_path(product), class: 'btn btn-warning' %>
          <%= button_to  'Retirar', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    <% end %>
    
</div>
    <% if !@current_user.nil? %>
      <%= link_to 'Novo Produto', new_product_path, class:'btn btn-primary' %>
    <% end %>

